.normal{
    background-color:#9FA19F;
    color:white;
}
.fire{
    background-color:#E62829;
    color:white;
}
.water{
    background-color:#2980EF;
    color:white;
}
.electric{
    background-color:#FAC000;
    color:white;
}
.grass{
    background-color:#3FA129;
    color:white;
}
.ice{
    background-color:#3FD8FF;
    color:white;
}
.fighting{
    background-color:#FF8000;
    color:white;
}
.poison{
    background-color:#9141CB;
    color:white;
}
.ground{
    background-color:#915121;
    color:white;
}
.flying{
    background-color:#81B9EF;
    color:white;
}
.psychic{
    background-color:#EF4179;
    color:white;
}
.bug{
    background-color:#91A119;
    color:white;
}
.rock{
    background-color:#AFA981;
    color:white;
}
.ghost{
    background-color:#704170;
    color:white;
}
.dragon{
    background-color:#5060E1;
    color:white;
}
.dark{
    background-color:#50413F;
    color:white;
}
.steel{
    background-color:#60A1B8;
    color:white;
}
.fairy{
    background-color:#EF70EF;
    color:white;
}